#top
{
   position: relative;
   margin-top: 100px;
   background-color: #c3edea;
   margin-top: 0px;
   padding: 0;

}

#middle{
    
}
#bottom{
   
}
.pro
{
    text-decoration: underline;
}

body{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-family: co;

}
h1{
    width: 20%;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    
}
.bottomcloud
{
    position: absolute;
}
.topcloud
{
    position: absolute;
    right: 380px;
    top: 50px;
}
.font
{
    font-family: 'Comfortaa', cursive;
}
img {
    border-radius: 50%;
    
  }
  
  .para
  {
    font-family: 'Comfortaa', cursive;
    font-size: medium;
  }